<div class="d-content__top">
  <div class="d-content__top__title">
    <h1>このアプリについて</h1>
  </div>
</div>
<div class="d-content__main">
  <div class="d-content__main__block">
    <div class="d-content__main__block__wrap">
      <div class="d-title">
        <h2>日常の困り事を共有しよう</h2>
      </div>
      <div class="d-text">
        日々、色々なサービスを利用して不便に感じたことはありませんか？<br>
        人類はこれまで、困りごとを解決していくことでここまで発展してきました。<br>
        このアプリでは、そんな困りごとを抱えている方が、発信をし、他者と共有することで、社会により良い価値を生み出すきっかけにすることを目的にしています。
      </div>
    </div>
  </div>
  <div class="d-content__main__block">
    <div class="d-content__main__block__wrap">
      <div class="d-title">
        <h2>みんなの困りごともチェックしてみよう</h2>
      </div>
      <div class="d-text">
        他の人が発信していることをチェックしてみましょう。同じような困りごとを抱えていたり、自分は困っていないことでも、他人からすると困るということも見えてくるでしょう。<br>
        色々な価値観に触れることで、少しでも他人を理解できるきっかけになればと思います。
      </div>
    </div>
    </div>
  <div class="d-content__main__block">
    <div class="d-content__main__block__wrap">
      <div class="d-title">
        <h2>自分が解決できることがある！？</h2>
      </div>
      <div class="d-text">
        他人の困りごとの中には自分が解決できる可能性があるものが、もしかしたら含まれているかもしれません。<br>
        解決能力がある人はそれを生かしてビジネスに転換するもよし、ボランティアで助けるもよし。<br>
        社会貢献のきっかけになれば幸いです。
      </div>
    </div>
  </div>
</div>
