<div class="top-page">
  <div class="top-content">
    <div class="top-content__title">
      <ul class="top-content__title__lists">
        <li class="top-content__title__list">
          <div class="top-content__title__list__text">
            Share一覧
          </div>
        </li>
        <li class="top-content__title__list">
          <div class="top-content__title__list__text">
            新着順
          </div>
        </li>
        <li class="top-content__title__list">
          <div class="top-content__title__list__text">
            多い順
          </div>
        </li>
        <li class="top-content__title__list">
          <div class="top-content__title__list__text">
            自分の発信
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__list">
      <% @bitches.each do |bitch| %>
        <%= render partial: "bitch", locals: { bitch: bitch } %>
      <% end %>
    </div>
  </div>
  <div class="bottom-content">
  </div>
</div>