<div class="top-page">
  <div class="top-content">
    <div class="top-content__title"></div>

  </div>
  <div class="main-content">
    <div class="main-content__top"></div>
    <div class="main-content__center"></div>
    <div class="main-content__bottom"></div>
  </div>
  <div class="bottom-content">
  </div>


</div>