.header{
  &__bar{
    display: flex;
    justify-content: space-around;
    &__title{
      background-color: #eee;
      line-height: 60px;
      &__text{
      }
    }
  }
}

.border-none{
  text-decoration: none;
}