$list: #8083ff;
$list_s: rgb(110, 113, 250);
$bgc: rgba(238, 238, 238, 0.2);
$head: #8083ff;

// <----    app.html.erb    ---->
.back-g-image {
  z-index: 0;
  background-color: $bgc;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic";
}
.back-g-image::before {
  content: "";
  background-image: url(bgi1.jpg);
  background-size: cover;
  opacity: 0.8;
  filter: blur(3px);
  z-index: -1;
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
}

.header {
  margin-bottom: 70px;
  &__bar {
    display: flex;
    // justify-content: space-around;
    &__title {
      width: 70%;
      text-align: center;
      line-height: 60px;
      &__text {
      }
    }
    .wrap {
      width: 30%;
      position: relative;
      &__in {
        position: absolute;
        right: 10px;
      }
    }
    &__user {
      &__name {
        max-width: 200px;
        text-align: center;
      }
      &__info {
        display: flex;
        padding-inline-start: 0;
        &__list {
          list-style: none;
          width: 65%;
          text-align: center;
        }
      }
    }
  }
}

.grid-p {
  position: relative;
  z-index: 1;
}
.grid-c {
  font-size: 0.9em;
  margin: 1em 0.7em;
  padding: 1em;
  position: relative;
  background: linear-gradient(
    to right,
    $list 0%,
    $list_s 0%,
    $list_s 0.5%,
    $list_s 13%,
    $list 16%
  );
}
.grid-c::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 5px;
  right: 0px;
  height: 15px;
  width: 99%;
  background: linear-gradient(to right, 0, 0, 0, 0.5 90%, 0, 0, 0, 0 100%);
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(2deg);
}
.btn-trans:hover {
  transform: rotate(-2deg);
}

.description {
  position: relative;
  &__title {
    position: absolute;
    right: 5px;
    width: 200px;
  }
}

.border-none {
  text-decoration: none;
}
